@font-face {
  font-family: DD;
  src: url('DigitalDisco.ttf');
}

@font-face{
  font-family: DD-thin;
  src: url('DigitalDisco-Thin.ttf');
}


body{
    background-color: black;
    overflow: hidden;
    inline-size: 100cqw;
    block-size: 100cqh;
}

#body{
    background-color: #0f380f;
    background-image: url("bg.png");
    background-size: 3.2px;
    image-rendering: pixelated;
    position: absolute;
    top: 0%;
    left: calc(50cqw - 100cqh * 2 / 3);
    height: 100cqh;
    width: calc(100cqh * 4 / 3);
    overflow: hidden;
    cursor: url("customCursor.png"), auto;
}
@media only screen and (min-height: 75cqw) {
    #body{
        width: 100cqw;
        height: 75cqw;
        left: 0;
        top: calc(50cqh - 37.5cqw);
    }
}
::selection{
    background:#6dbd16;
}

p{
    color: #306230;
    font-family: DD-thin;
    font-size: 32px;
    margin: 4px;
    text-rendering: pixelated;
    image-rendering: pixelated;
}
h1{
    color: #0f380f;
    font-size: 48px;
    font-family: DD;
    text-align: center;
    margin: 6px;
    text-rendering: pixelated;
}
small{
    font-size: 16px;
    font-family: DD;
    text-rendering: pixelated;
    color: #306230;
}
.fileLink{
    color: #6dbd16;
    text-decoration: underline dashed #6dbd16 2px;
}
.fileLink:hover{
    text-decoration-style: wavy;
}
.fileLink::selection{
    color: #0f380f;
}

img{
    user-select: none;
    image-rendering: pixelated;
}
p img{
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    margin: 2px 4px;
}
p img::selection{
    background-color: #6dbd16;
}
a {cursor: url("customCursor-click.png"), pointer}
iframe{position: sticky}

.checkbox{
    width: 16px;
    height: 16px;
    content: url("box-unchecked.png");
    transform: translate(0, -2px);
}

.bottombar{
    width: calc(100% - 172px);
    background-color: #518d23;
    border-top: 4px solid #306230;
    padding-left: 172px;
    image-rendering: pixelated;
    shape-rendering: pixelated;
    text-rendering: pixelated;

    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 32px;
    display: flex;
}
.bottombar img{
    width: 32px;
    height: 32px;
    margin: 0px 4px;
}
.bottombar a:hover img[src="chaticon.png"]{
    content: url("chaticon-hover.png");
}

.bottombar img[src="notif.png"]{
    position: absolute;
    right: 0px;
    cursor: url("customCursor-click.png"), pointer;
}
.bottombar img[src="notif.png"]:hover{
    content: url("notif-click.png");
}

#time{
    position: absolute;
    left: 0px;
}

.notifs div{
    background-color: #518d23;
    margin: 16px 8px;
    border: 4px solid #306230;
    shape-rendering: pixelated;
}
.notifs{
    height: max-content;
    width: 480px;
    position: absolute;
    right: -480px;
    bottom: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex;
}

#options{
    background-color: #518d23;
    padding: 4px;
    border: 4px solid #306230;
    shape-rendering: pixelated;
    position: absolute;
    width: 480px;
    left: 0;
    bottom: 32px;
    height: 40%;
}

.icons{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
}
.icons img{
    width: 64px;
    height: 64px;
    position: relative;
    margin: 16px;
    cursor: url("customCursor-click.png"), pointer;
}
.icons img:hover{
    filter:
    drop-shadow(2px 0px 0 #6dbd16)
    drop-shadow(-2px 0px 0 #6dbd16)
    drop-shadow(0px -2px 0 #6dbd16)
    drop-shadow(0px 2px 0 #6dbd16)
}

.window{
    background-color: #518d23;
    padding: 4px;
    padding-top: 16px;
    width: max-content;
    height: max-content;
    border: 2px solid #306230;
    image-rendering: pixelated;
    shape-rendering: pixelated;
    position: absolute;
    overflow: hidden;
}
.windowContent{
    width: max-content;
    height: max-content;
    max-width: 55vh;
    max-height: 65vh;
    min-width: 196px;
    min-height: 128px;
    overflow: hidden auto;
}
.windowContent img{
    max-width: 55vh;
    height: auto;
}
.selected{
    border-color: #6dbd16;
}

.header{
    border-bottom: 2px solid #306230;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10px;
    background-color: #306230;
    text-align: right;
}
.selected .header{
    border-color: #6dbd16;
}

.xButton{
    width: 10px;
    height: 10px;
    image-rendering: pixelated;
    transform: translate(0, -4px);
    cursor: url("customCursor-click.png"), pointer;
}
.xButton:hover{
    content: url("x-click.png");
}

.backButton{
    width: 10px;
    height: 10px;
    image-rendering: pixelated;
    transform: translate(0, -4px);
    cursor: url("customCursor-click.png"), pointer;
}
.backButton:hover{
    content: url("back-click.png");
}

::-webkit-scrollbar{
    background-color: #306230;
    max-width: 16px;
}
::-webkit-scrollbar-thumb{
    background-color: #518d23;
    border: 3px solid #306230;
    cursor: url("customCursor-click.png"), pointer;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6dbd16;
}

[contenteditable="true"]{
    min-width: calc(100% - 16px);
    min-height: 100%;
}
[contenteditable="true"]:focus{
   border-width: 0px;
   outline-width: 0px;
}
::grammar-error{
    text-decoration: underline dashed #0f380f;
}

.onTop{
    z-index: calc(infinity);
}
.animated{
    transition: 0.4s ease-in-out;
}
.unanimated{
    transition: 0s ease-in-out;
}
.hoverable{
    cursor: url("customCursor-click.png"), pointer;
}
.hoverable:hover{
    color: #6dbd16;
}
.hoverable:hover::selection{
    color: #0f380f;
}
.fill{
    width: 100%;
}

.mobileDisclaimer{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 100%;
    aspect-ratio: 1;
    background-color: #518d23;
    border: 4px solid #306230;
    z-index: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.mobileDisclaimer img{
    width: 35%;
    height: auto;
    margin: 5%;
}
@media (hover: none), (pointer: coarse) {
  .onTop{
        visibility: hidden;
    }
    .icons{
        visibility: hidden;
    }
    #body{
        width: 100%;
        height: 100%;
        aspect-ratio: auto;
        left: 0;
        top: 0;
    }
    .mobileDisclaimer{
        visibility: visible;
    }
    p{
        font-size: 5cqh;
    }
}