@font-face {
  font-family: DD;
  src: url('fonts/DigitalDisco.ttf');
}
@font-face{
  font-family: DD-thin;
  src: url('fonts/DigitalDisco-Thin.ttf');
}

/* Variables for consistency */
:root{
    --bodyWidth: calc(100cqh * 4 / 3);
    --bodyHeight: 100cqh;
    --bodyTop: 0%;
    --bodyLeft: calc(50cqw - 100cqh * 2 / 3);
    --bgImage: url("images/ui/main/bg.png");

    --cursor: url("images/ui/main/customCursor.png"), auto;
    --hoverCursor: url("images/ui/main/customCursor-click.png"), pointer;

    --borderWidth: calc((100cqw - var(--bodyWidth)) / 2)
    --borderHeight: calc((100cqh - var(--bodyHeight)) / 2)
}
@media only screen and (min-height: 75cqw) {
    :root{
        --bodyWidth: 100cqw;
        --bodyHeight: 75cqw;
        --bodyLeft: 0;
        --bodyTop: calc(50cqh - 37.5cqw);
    }
}

body{
    background-color: black;
    overflow: hidden;
}

#body{
    background-color: #0f380f;
    background-image: var(--bgImage);
    background-size: 4.8px;
    image-rendering: pixelated;
    position: absolute;
    overflow: hidden;
    cursor: var(--cursor);
    z-index: 0;

    top: var(--bodyTop);
    left: var(--bodyLeft);
    height: var(--bodyHeight);
    width: var(--bodyWidth);
}
#bgOverlay{
    background-image: var(--bgImage);
    background-size: 3.2px;
    image-rendering: pixelated;
    position: absolute;
    pointer-events: none;
    opacity: 0.15;

    top: var(--bodyTop);
    left: var(--bodyLeft);
    height: var(--bodyHeight);
    width: var(--bodyWidth);
}
::selection{
    background:#6dbd16;
}
:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

p{
    color: #306230;
    font-family: DD-thin;
    font-size: 32px;
    margin: 4px;
    text-rendering: pixelated;
    image-rendering: pixelated;
}
h1{
    color: #0f380f;
    font-size: 48px;
    font-family: DD;
    text-align: center;
    margin: 6px;
    text-rendering: pixelated;
}
small{
    font-size: 16px;
    font-family: DD;
    text-rendering: pixelated;
    color: #306230;
}
.fileLink{
    color: #6dbd16;
    text-decoration: underline dashed #6dbd16 2px;
}
.fileLink:hover{
    text-decoration-style: wavy;
}
.fileLink::selection{
    color: #0f380f;
}

img{
    user-select: none;
    image-rendering: pixelated;
}
p img{
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    margin: 2px 4px;
}
p img::selection{
    background-color: #6dbd16;
}
a {cursor: var(--hoverCursor)}
iframe{position: sticky}

.bottombar{
    width: calc(100% - 172px);
    background-color: #518d23;
    border-top: 4px solid #306230;
    padding-left: 172px;
    image-rendering: pixelated;
    shape-rendering: pixelated;
    text-rendering: pixelated;

    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 32px;
    display: flex;
}
.bottombar img{
    width: 32px;
    height: 32px;
    margin: 0px 4px;
}
.bottombar a:hover img[src="assets/images/ui/icons/bottombar/chat.png"]{
    content: url("images/ui/icons/bottombar/hover/chat.png");
}

#notifButton{
    position: absolute;
    right: 0px;
    cursor: var(--hoverCursor);
}
#notifButton:hover{
    content: url("images/ui/icons/bottombar/hover/notif.png");
}
[src="assets/images/ui/icons/bottombar/notifNew.png"]#notifButton:hover{
    content: url("images/ui/icons/bottombar/hover/notifNew.png")
}

#time{
    position: absolute;
    left: 0px;
}

.notifs div{
    background-color: #518d23;
    margin: 16px 8px;
    border: 4px solid #306230;
    shape-rendering: pixelated;
}
.notifs{
    height: max-content;
    width: 480px;
    position: absolute;
    right: -480px;
    bottom: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex;
}

#options{
    background-color: #518d23;
    padding: 4px;
    border: 4px solid #306230;
    shape-rendering: pixelated;
    position: absolute;
    width: 480px;
    left: 0;
    bottom: 32px;
    height: 40%;
}

.icons{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
}
.icons img{
    width: 64px;
    height: 64px;
    position: relative;
    margin: 16px;
    cursor: var(--hoverCursor);
}
.icons img:hover{
    filter:
    drop-shadow(2px 0px 0 #6dbd16)
    drop-shadow(-2px 0px 0 #6dbd16)
    drop-shadow(0px -2px 0 #6dbd16)
    drop-shadow(0px 2px 0 #6dbd16)
}

.window{
    background-color: #518d23;
    padding: 4px;
    padding-top: 20px;
    width: max-content;
    height: max-content;
    border: 2px solid #306230;
    image-rendering: pixelated;
    shape-rendering: pixelated;
    position: absolute;
    overflow: hidden;
}
.windowContent{
    width: max-content;
    height: max-content;
    max-width: calc(var(--bodyHeight) * 0.55);
    max-height: calc(var(--bodyHeight) * 0.65);
    min-width: 196px;
    min-height: 128px;
    overflow: hidden auto;
}
.windowContent img{
    max-width: 55vh;
    height: auto;
}
.selected{
    border-color: #6dbd16;
}

.header{
    border-bottom: 2px solid #306230;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 14px;
    background-color: #306230;
    text-align: right;
}
.selected .header{
    border-color: #6dbd16;
}

.header img{
    width: 14px;
    height: 14px;
    image-rendering: pixelated;
    cursor: var(--hoverCursor);
}
.xButton:hover{
    content: url("images/ui/main/hover/x.png");
}
.backButton:hover{
    content: url("images/ui/main/hover/back.png");
}

::-webkit-scrollbar{
    background-color: #306230;
    max-width: 16px;
}
::-webkit-scrollbar-thumb{
    background-color: #518d23;
    border: 3px solid #306230;
    cursor: var(--hoverCursor);
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6dbd16;
}

[contenteditable="true"]{
    min-width: calc(100% - 16px);
    min-height: 100%;
    pointer-events: visible;
}
::grammar-error{
    text-decoration: underline dashed #0f380f;
}

.onTop{
    z-index: calc(infinity);
}
.animated{
    transition: 0.4s ease-in-out;
}
.unanimated{
    transition: 0s ease-in-out;
}
.hoverable{
    cursor: var(--hoverCursor);
}
.hoverable:hover{
    color: #6dbd16;
}
.hoverable:hover::selection{
    color: #0f380f;
}
.fill{
    width: 100%;
    height: auto;
}

#touchscreenWindow{
    visibility: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
@media (hover: none), (pointer: coarse) {
#touchscreenWindow{
    visibility: visible;
}
}