@font-face {
  font-family: DD;
  src: url('/fonts/DigitalDisco.ttf')
}
@font-face{
  font-family: DD-thin;
  src: url('/fonts/DigitalDisco-Thin.ttf');
}

/* Variables for consistency */
:root{
    --bodyWidth: calc(100cqh * 4 / 3);
    --bodyHeight: 100cqh;
    --bodyTop: 0%;
    --bodyLeft: calc(50cqw - 100cqh * 2 / 3);
    --bgImage: url("/images/ui/main/bg.png");
    --bgAnimLength: 5s;

    --cursor: url("/images/ui/main/customCursor.png"), auto;
    --hoverCursor: url("/images/ui/main/customCursor-click.png"), pointer;

    --borderWidth: calc((100cqw - var(--bodyWidth)) / 2)
    --borderHeight: calc((100cqh - var(--bodyHeight)) / 2)
}
@media only screen and (min-height: 75cqw) {
    :root{
        --bodyWidth: 100cqw;
        --bodyHeight: 75cqw;
        --bodyLeft: 0;
        --bodyTop: calc(50cqh - 37.5cqw);
    }
}

body{
    background-color: black;
    overflow: hidden;
    place-items: center;
    place-content: center;
}

#body{
    background-color: #0f380f;
    background-image: var(--bgImage);
    background-size: 4.8px;
    image-rendering: pixelated;
    position: absolute;
    overflow: hidden;
    cursor: var(--cursor);
    z-index: 0;
    filter: blur(0.3px);

    top: var(--bodyTop);
    left: var(--bodyLeft);
    height: var(--bodyHeight);
    width: var(--bodyWidth);

    animation: bgMove var(--bgAnimLength) linear 0s infinite;
}
#bgOverlay{
    background-image: var(--bgImage);
    background-size: 3.2px;
    image-rendering: pixelated;
    position: absolute;
    pointer-events: none;
    opacity: 0.15;
    filter: blur(0.6px);

    top: var(--bodyTop);
    left: var(--bodyLeft);
    height: var(--bodyHeight);
    width: var(--bodyWidth);

    animation: bgMove var(--bgAnimLength) linear 0s infinite;
}
@keyframes bgMove{
    0% {background-position-y: 0px;}
    100% {background-position-y: 9.6px;}
}

#body ::selection{
    background:#6dbd16;
}
:focus{
    outline: 2px solid #6dbd16;
    border: none;
    box-shadow: none;
}

p{
    color: white;
    font-family: DD-thin;
    font-size: 32px;
    margin: 4px;
    text-rendering: pixelated;
    image-rendering: pixelated;
}
#body p{
    color: #306230;
}
label {
    color: #306230;
    font-family: DD-thin;
    font-size: 32px;
    margin: 4px;
    text-rendering: pixelated;
    image-rendering: pixelated;
}
input {
    color: #306230;
    background-color: #518d23;
    font-family: DD-thin;
    font-size: 32px;
    margin: 4px;
    text-rendering: pixelated;
    image-rendering: pixelated;
    outline: 2px solid #306230;
    border: none;
    box-shadow: none;
    padding: 2px;
    cursor: var(--cursor);
}
input[type="submit"]{
    cursor: var(--hoverCursor)
}
input[type="submit"]:hover{
    outline-color: #6dbd16;
    color: #6dbd16;
}
textarea {
    color: #306230;
    background-color: #518d23;
    font-family: DD-thin;
    font-size: 32px;
    margin: 4px;
    text-rendering: pixelated;
    image-rendering: pixelated;
    outline: 2px solid #306230;
    border: none;
    box-shadow: none;
    padding: 2px;
    width: calc(var(--bodyHeight) / 2);
    height: calc(var(--bodyHeight) / 4);
    vertical-align: top;
    cursor: var(--cursor);
    resize: none;
}
h1{
    color: white;
    font-size: 48px;
    font-family: DD;
    text-align: center;
    margin: 6px;
    text-rendering: pixelated;
}
#body h1{
    color: #0f380f;
}
small{
    font-size: 16px;
    font-family: DD;
    text-rendering: pixelated;
    color: #306230;
}
.fileLink{
    color: #6dbd16;
    text-decoration: underline dashed #6dbd16 2px;
}
.fileLink:hover{
    text-decoration-style: wavy;
}
.fileLink::selection{
    color: #0f380f;
}

img{
    user-select: none;
    image-rendering: pixelated;
}
p img{
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    margin: 2px 4px;
}
#body p img::selection{
    background-color: #6dbd16;
}
button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    width: min-content;
    height: min-content;
    display: inline-flex;
    align-items: baseline;
}
button:focus {
    outline: none;
}
a {cursor: var(--hoverCursor)}
iframe{position: sticky}

.bottombar{
    width: calc(100% - 172px);
    background-color: #518d23;
    border-top: 4px solid #306230;
    padding-left: 172px;
    image-rendering: pixelated;
    shape-rendering: pixelated;
    text-rendering: pixelated;

    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 32px;
    display: flex;
}
.bottombar img{
    width: 32px;
    height: 32px;
    margin: 0px 4px;
}
.bottombar a:hover img[src="/images/ui/icons/bottombar/chat.png"]{
    content: url("/images/ui/icons/bottombar/hover/chat.png");
}
.bottombar a:focus img[src="/images/ui/icons/bottombar/chat.png"]{
    content: url("/images/ui/icons/bottombar/hover/chat.png");
}
.bottombar a:focus{
    outline: none;
}

#notifButton{
    position: absolute;
    right: 0px;
    cursor: var(--hoverCursor);
}
#notifButton:hover img{
    content: url("/images/ui/icons/bottombar/hover/notif.png");
}
#notifButton:focus img{
    content: url("/images/ui/icons/bottombar/hover/notif.png");
}
[src="/images/ui/icons/bottombar/notifNew.png"]#notifButton:hover{
    content: url("/images/ui/icons/bottombar/hover/notifNew.png")
}

.notifs div{
    background-color: #518d23;
    margin: 16px 8px;
    border: 4px solid #306230;
    shape-rendering: pixelated;
}
.notifs{
    height: max-content;
    width: 480px;
    position: absolute;
    bottom: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex;
}
.notifs:not(.open){
    right: -480px;
}
.open.notifs{
    right: 0px;
}

#options{
    background-color: #518d23;
    padding: 4px;
    border: 4px solid #306230;
    shape-rendering: pixelated;
    position: absolute;
    width: 480px;
    left: 0;
    bottom: 32px;
    height: 40%;
}

.icons{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
    z-index: 1;
}
.icons img{
    width: 64px;
    height: 64px;
}
.icons img:hover{
    filter:
    drop-shadow(2px 0px 0 #6dbd16)
    drop-shadow(-2px 0px 0 #6dbd16)
    drop-shadow(0px -2px 0 #6dbd16)
    drop-shadow(0px 2px 0 #6dbd16);
}
.icons button{
    margin: 16px;
    cursor: var(--hoverCursor);
    width: 64px;
    height: 64px;
}
.icons button:focus img{
    filter:
    drop-shadow(2px 0px 0 #6dbd16)
    drop-shadow(-2px 0px 0 #6dbd16)
    drop-shadow(0px -2px 0 #6dbd16)
    drop-shadow(0px 2px 0 #6dbd16);
}

#windows{
    width: var(--bodyWidth);
    height: var(--bodyHeight);
    position: absolute;
}
.window{
    background-color: #518d23;
    padding: 4px;
    padding-top: 20px;
    width: max-content;
    height: max-content;
    border: 2px solid #306230;
    image-rendering: pixelated;
    shape-rendering: pixelated;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}
.windowContent{
    width: max-content;
    height: max-content;
    max-width: calc(var(--bodyHeight) * 0.55);
    max-height: calc(var(--bodyHeight) * 0.65);
    min-width: 196px;
    min-height: 128px;
    overflow: hidden auto;
}
.windowContent img{
    max-width: 55vh;
    height: auto;
}
.selected{
    border-color: #6dbd16;
}

.header{
    border-bottom: 2px solid #306230;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 14px;
    background-color: #306230;
    text-align: right;
}
.selected .header{
    border-color: #6dbd16;
}

.header img{
    width: 14px;
    height: 14px;
    image-rendering: pixelated;
    cursor: var(--hoverCursor);
}
.xButton:focus img{
    content: url("/images/ui/main/hover/x.png");
}
.xButton:hover img{
    content: url("/images/ui/main/hover/x.png");
}
.backButton:focus img{
    content: url("/images/ui/main/hover/back.png");
}
.backButton:hover img{
    content: url("/images/ui/main/hover/back.png");
}

#body ::-webkit-scrollbar{
    background-color: #306230;
    max-width: 16px;
}
#body ::-webkit-scrollbar-thumb{
    background-color: #518d23;
    border: 3px solid #306230;
    cursor: var(--hoverCursor);
}
#body ::-webkit-scrollbar-thumb:hover{
    background-color: #6dbd16;
}

[contenteditable="true"]{
    min-width: calc(100% - 16px);
    min-height: 100%;
    pointer-events: visible;
    padding: 2px;
}
::grammar-error{
    text-decoration: underline dashed #0f380f;
}

.onTop{
    z-index: calc(infinity);
}
.animated{
    transition: 0.4s ease-in-out;
}
.unanimated{
    transition: 0s ease-in-out;
}
.hoverable{
    cursor: var(--hoverCursor);
}
#body .hoverable:hover{
    color: #6dbd16;
}
#body .hoverable:hover::selection{
    color: #0f380f;
}
.fill{
    width: 100%;
    height: auto;
}